::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
.buttonlist {
  scroll-behavior: smooth;
}

.lists:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lists:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
